.header{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.38px;
    margin-top: 24px;
    margin-bottom: 4px;
}
.timeslotButton{
    width: 100%;
    left: 50%;
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    height: 50px;
    font-size: 16px;
    border-radius: 12px;
    border-color: #0D7FA8;
    font-weight: 600;
    color: #0D7FA8;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
}
.time-slot-btn-wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    gap: 16px;
}
.noSlotLabel{
    height: 18px;
    color: #706e6b;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: -0.36px;
}
.headerBold{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.38px;
}
.slots-container{
    background-color: white;
    padding: 0 16px 0 16px;
}
.page-title{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.38px;
    margin-top: 10px;
    margin-bottom: 4px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(159, 170, 181, 0.5);
    padding-bottom: 10px;
}